In [23]:
############################ DEcorators ################################

def fuction_name(name1,name2):
    return "the input name is lower {} and upper {}".format(name1,name2)

In [19]:
fuction_name('mayur mHETRE','mayu')

'the input name is lower mayur mHETRE and upper mayu'

In [24]:
def smart_lower(func):
    def inner(name1,name2):
        name1 =  name1.lower()
        name2 =  name2.upper()
        return func(name1,name2)
    return inner

In [25]:
p = smart_lower(fuction_name)
p(input('enter name1: '),input('enter name2: '))

enter name1: fDDD
enter name2: fdf

'the input name is lower fddd and upper FDF'

In [26]:
#################### Decorators using @ ###########################

@smart_lower
def mayuri_decoratpr(nam22,nam33):
    return "hello {} , {} to python OOOPS concept".format(nam22,nam33)

In [27]:
d = smart_lower(mayuri_decoratpr)
d('nnn','Klll')

'hello nnn , KLLL to python OOOPS concept'

In [51]:
################### closures ###########################

def subclass(func):
    def inner():
        print("you are inside inner class")
        func()
    return inner

subclass(print)

In [50]:
def subclass(func):
    def inner():
        print("you are inside inner class")
        func("hello print")
    return inner

p = subclass(print)
p()

you are inside inner class
hello print

In [52]:
def subclass(func):
    def inner():
        print("you are inside inner class")
        return func("hello print\n") ############# calculating the length of hello print using len
    return inner

p = subclass(len)
p()

you are inside inner class

12

In [54]:
print(__name__)

__main__

In [59]:
print("hello" , __name__)

hello __main__

In [60]:
##Technically speaking, a Python iterator object must implement two special methods,
###__iter__() and __next__(), collectively called the iterator protocol.
###The iter() function (which in turn calls the __iter__() method) returns an iterator from them.

#### iterators are used for  list ,tuple and strings

In [76]:
list1 = [i for i in range(10)]
list2 = iter(list1)

In [71]:
list2

In [63]:
next(list2) ### displays first element

0

In [65]:
list2.__next__()

1

In [66]:
list2.__next__()

2

In [77]:
ff =1
for i in list2:
    print("element {}:{}".format(ff,i))
    ff +=1

element 1:0
element 2:1
element 3:2
element 4:3
element 5:4
element 6:5
element 7:6
element 8:7
element 9:8
element 10:9

In [78]:
tuple1 = (i for i in range(5))

In [79]:
tuple2 = iter(tuple1)

In [80]:
ff =1
for i in tuple2:
    print("element {}:{}".format(ff,i))
    ff +=1

element 1:0
element 2:1
element 3:2
element 4:3
element 5:4

In [81]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
for i in iter(list1):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [87]:
for i in iter('hello'):
    print(i)

h
e
l
l
o

In [105]:
############################ genrators #######################

def function1():
    n = 2
    sq = n** 3
    yield sq
    yield (sq - 1)
    yield (sq - 2)

In [109]:
v = function1()

In [103]:
print(v.__next__())

7

In [106]:
print(v.__next__())

StopIteration:

In [110]:
for i in v:
    print(i)

8
7
6

In [115]:
# Initialize the list
my_list = [1, 3, 6, 10]

# square each term using list comprehension
list_ = [x**2 for x in my_list]

# same thing can be done using a generator expression
# generator expressions are surrounded by parenthesis ()
generator = (x**2 for x in my_list)

print(list_)
print(generator)

[1, 9, 36, 100]
<generator object <genexpr> at 0x000001CDECB2CF90>

In [117]:
for i in generator:
    print(i)

1
9
36
100

In [118]:
list1 = [i for i in range(0,10,2)]

In [122]:
gen1 = (x**3 for x in list1)       #### generator is surrounded by parenthesis

In [123]:
type(gen1)

generator

In [124]:
for i in gen1:
    print(i)

0
8
64
216
512

In [125]:
tup1 = (1,2,3,4)

In [126]:
type(tup1)

tuple

In [127]:
tup2 = (i for i  in range(5))

In [128]:
type(tup2)

generator

In [129]:
tup3 = ([i for i in range(5)])

In [130]:
type(tup3)

list

In [131]:
tup3

[0, 1, 2, 3, 4]

In [132]:
for i in tup3:
    print(i)

0
1
2
3
4