In [21]:
class Mayuri:
    "hello mayuri , let us start with OOP"
    age = 26
    name = 'Mayuri'
    
    def greet(self):
        print('welcome {}'.format(self.name))
    def info(self,name,age):
        self.name = name 
        self.age = age
        print("{} is {} years old".format(self.name,self.age))

In [22]:
obj = Mayuri()

In [9]:
print(obj.__doc__)

hello mayuri , let us start with OOP

In [10]:
print(Mayuri.__doc__) ############# displays the doc string

hello mayuri , let us start with OOP

In [18]:
obj.greet()

welcome Mayuri

In [23]:
obj.info('chaitantya',25)

chaitantya is 25 years old

####################### Inheritance ###############################

In [56]:
class Base1:

    def __init__(self):
        print("This is my Base1 class")
    def age(self,age):
        self.age = age
        print("Age of the person (Base1) is {}".format(self.age))
   
class Base2:
    def __init__(self):
        print("This is my Base2 class")
    def age(self,age):
        self.age = age
        print("Age of the person (Base2) is {}".format(self.age))
class child(Base1,Base2):
    "Welcome to child class which id derived from Base1 and Base2"
    def __init__(self):
        super().__init__(self)
        Base1.__init__(self)
        Base2.__init__(self)
        print("This is my child class")
    def age(self,age):
        self.age =age
        print("Age of the person (child) is {}".format(self.age))

In [57]:
obj1 = Base1()

This is my Base1 class

In [27]:
obj2  = Base2()

This is my Base2 class

In [28]:
obj3 = child()

This is my Base1 class
This is my Base2 class
This is my child class

In [29]:
obj3.__doc__

'Welcome to child class which id derived from Base1 and Base2'

In [30]:
obj3.age(23)

Age of the person (child) is 23

In [31]:
obj2.age(90)

Age of the person (Base2) is 90

In [85]:
################## Example1 #######################

class Student:
    def __init__(self,fname,lname,roll_no):
        self.fname = fname
        self.lname = lname
        self.roll_no = roll_no
        print("Roll no of student {}: {} {}".format(self.roll_no,self.fname,self.lname))
    def printnames(self):
        print("Roll no {}: {} {}".format(self.roll_no,self.fname,self.lname))

In [86]:
obj1 = Student('mayu','mhetre',301237)

Roll no of student 301237: mayu mhetre

In [87]:
obj1.printnames()

Roll no 301237: mayu mhetre

In [88]:
class child1(Student):
    pass

In [89]:
ch1 = child1('Chai','Mhetre',401225)

Roll no of student 401225: Chai Mhetre

In [90]:
ch1.printnames()

Roll no 401225: Chai Mhetre

In [69]:
################### properties of parent class are used by child class

In [91]:
class child1(Student):
    def __init__(self,fname,lname,roll_no,grad_year):
        self.fname = fname
        self.lname = lname
        self.roll_no = roll_no
        self.grad_year = grad_year
        super().__init__(self.fname,self.lname,self.roll_no) ######### this calls parent class student -- self not required
        print("Roll No: {} {} {} graduated in {}".format(self.roll_no,self.fname,self.lname,self.grad_year))

In [92]:
ch2 = child1('mayu','mhetre1',451235,2016)

Roll no of student 451235: mayu mhetre1
Roll No: 451235 mayu mhetre1 graduated in 2016

In [102]:
class child2(Student):
    def __init__(self,fname,lname,roll_no,place):
        self.fname = fname
        self.lname = lname
        self.roll_no = roll_no
        self.place = place
        Student.__init__(self,self.fname,self.lname,self.roll_no) ######### this calls the parent class student --self is required
        print("Roll No: {} {} {} lives in country - {}".format(self.roll_no,self.fname,self.lname,self.place))

In [103]:
ch3 = child2('abc','vvv',123456,'USA')

Roll no of student 123456: abc vvv
Roll No: 123456 abc vvv lives in country - USA

In [104]:
ch3.printnames() ############ calling the property of base class

Roll no 123456: abc vvv

In [105]:
ch2.printnames()

Roll no 451235: mayu mhetre1

####################### Encapsulation ###############################

In [115]:
class Employer:
    "This is Employer Class - TCS"
    def __init__(self,empname):
        self.empname = empname
        self.__salary = 15000
        print("{} has basic salary {}".format(self.empname,self.__salary))
        
class Emp1(Employer):
    "This is child class - Emp1"
    def __init__(self,empname,hike,year):
        self.empname = empname
        Employer.__init__(self,self.empname)
        self.hike = hike
        self.year = year
        self.increased = self._Employer__salary + self.hike
        
    def printemp(self):
        print("{} has increased salary {} in {}".format(self.empname,self.increased,self.year))

In [116]:
emp1 = Emp1('Mayur Mhetre',25000,2021)

Mayur Mhetre has basic salary 15000

In [117]:
emp1.printemp() ###### added 15k plus 25k

Mayur Mhetre has increased salary 40000 in 2021

In [118]:
emp1.__doc__

'This is child class - Emp1'

In [119]:
Employer.__doc__

'This is Employer Class - TCS'